.primary-color {
  color: #2684ff;
}

.secondary-color {
  color: #1d2125;
}

.tertiary-color {
  color: #9ac6ff;
}

.white-color {
  color: #ffffff;
}

.primary-bg-color {
  background-color: #2684ff;
}

.secondary-bg-color {
  background-color: #1d2125 !important;
}

.off-white-bg {
  background-color: #f7f3f3;
}

.white-bg {
  background-color: #ffffff !important;
}
